@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../bgnexchat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  overscroll-behavior: none;
}

@media (min-width: 768px) {
  body {
    background-attachment: fixed;
  }
}